body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header-section{
    background-image: url(/img/header\ bannar.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.menu-bar{
    height: 80px;
    display: flex;
}

.brand{
    font-size: 40px;
    margin-left: 100px;
    padding-top: 20px;
}

#brand-logo{
    color: red;
}

#brand-name{
    color: white;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
}

.menu-item{
    margin-left: 380px;
    
}

.menu-item ul li{
    display: inline-block;
    font-size: 20px;
    padding-right: 50px;
    padding-top: 20px;
    cursor: pointer;
    color: red;
    font-weight: 600;

}

.header-item-area{
    display: flex;
}

.header-title{
    margin-top: 200px;
    margin-left: 100px;
    color: white;
}

.text-color{
    font-size: 40px;
    color: rgb(255, 94, 0);
}

.link-button{
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    background-image: linear-gradient(red, orange);
    border-radius: 10px;
}

.header-image{
   margin-left: 250px; 
   margin-top: 5px;
}


.item-area{
    margin-top: 50px;
}

.our-item{
    text-align: center;
}

.our-item-text{
    font-size: 30px;
}

.food-item-area{
    display: flex;
    margin-top: 50px;
}

.food-item{
    width: 25%;
    margin-left: 5%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px gray;
} 

.food-item img{
    border-radius: 20px;

    width: 100%;
}

.tasty-ice-crream{
    margin-right: 5%;
}